 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Monoton:wght@400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-game h1{  
    text-align: center;
    font-style: italic;
    color: aliceblue;
    font-family: Monoton; 
    font-size: 80px;
    border: 2px solid greenyellow;
    border-radius: 10px;
}
.tabuleiro{
    display: flex;
    flex-direction: column;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 40px;
    width: 600px;
    height: 600px;
      
    
    
}
.superior{
    height: 100%;
    display: flex;
}
.inferior{
    height: 100%;
    display: flex;
}

.botao{
    width: 100%;
    height: 100%;
    border-radius: 150px;
}
#azul{background-color: blue;left: 10px;}
#vermelho{background-color: red;}
#amarelo{background-color: yellow;}
#verde{background-color: green;}

.painel{
    width: 350px;
    height: 400px;
    background-color: black;
    position: absolute;
    align-self: center;
    margin-top: 60px;
    border-radius: 50px;    
}
.player1{
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: aliceblue;
    
}
.scoreP1{
    background-color: rgba(28, 29, 29, 0.733);
    width: 260px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(108, 226, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}
.player2{
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: aliceblue;
}    
.scoreP2{
    background-color: rgba(28, 29, 29, 0.733);
    width: 260px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(108, 226, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}
.controles{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.control{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bolder;
}
