body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
    font-family: Arial, sans-serif;
}
#score-board {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}

.player-score {
    text-align: center;
}


#game-board {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
}

.color-button {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

#red {
    background-color: darkred;
}

#green {
    background-color: darkgreen;
}

#blue {
    background-color: darkblue;
}

#yellow {
    background-color: goldenrod;
}

.color-button.active {
    filter: brightness(1.5);
}